<main id="profile_main">
    <div id="profile_content_wrapper">
        <section id="profile_content_header">
            <h2> Данные пользователя </h2>
            <div id="profile_content_header_buttons">
                <a routerLink="/edit_profile">
                    <button type="button" class="btn btn-primary header-btn" id="profile_edit_user" data-title="Редактировать">
                        <i class="fa-solid fa-pen"></i>
                    </button>
                </a>
            </div>
        </section>

        <section id="profile_card">
            <img src={{profile.img}} alt="user_img" id="profile_user_img">    
            <div id="profile_card_text_content">
                <p id="profile_username"> Имя: <b> {{profile.name}} </b> </p>
                <p id="profile_birthdate"> Дата рождения: <b> {{profile.birth}} </b> </p>
                <p id="profile_role"> Роль: <b> {{profile.role}} </b> </p>
                <p id="profile_email"> Электронная почта: <b> {{profile.email}}</b> </p>
                <p id="profile_status"> Статус: <b> {{profile.status}} </b> </p>
                <p id="profile_id"> Идентификатор: <b> {{profile.id}} </b> </p>
            </div>
        </section>
    </div>
</main>
