<tr>
    <th class="table_user_name" scope="row">
        <a href='/profile/{{user.id}}' class="control_panel_username">
            {{ user.name }}
        </a>
    </th>
    <td class="table_user_birth_date" scope="">{{user.birth}}</td>
    <td class="table_user_role" scope="">{{user.role}}</td>
    <td class="table_user_access_status" scope="">{{user.status}}</td>
    <td class="table_user_email" scope="">{{user.email}}</td>
    <td class="table_user_interaction_buttons" scope="">
        
        <a href="/profile/{{user.id}}">
            <button type="button" class="btn btn-primary user_interaction_btn">
                Информация 
            </button>
        </a>
        
        <button type="button" class="btn btn-danger user_interaction_btn remove_friend_btn" (click)="remove_friend()" >
            Удалить из друзей
        </button>
    </td>
</tr>