<tr>
    <th class="table_user_name" scope="row">
        <a href="/profile/" class="control_panel_username">
            Асташёнок Михаил Сергеевич
        </a>
    </th>
    <td class="table_user_birth_date" scope="">19/11/2002</td>
    <td class="table_user_role" scope="">Администратор</td>
    <td class="table_user_access_status" scope="">Подтвержден</td>
    <td class="table_user_email" scope="">thenaitrise@gmail.com</td>
    <td class="table_user_interaction_buttons" scope="">
        
        <a href="/profile">
            <button type="button" class="btn btn-primary user_interaction_btn">
                Информация 
            </button>
        </a>
        
        <button type="button" class="btn btn-danger user_interaction_btn remove_friend_btn" id="banUser#">
            Удалить из друзей
        </button>
    </td>
</tr>