<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet/less" type="text/css" href="../stylesheets/friends.less">
    <script src="https://cdn.jsdelivr.net/npm/less"></script>
    <script src="https://kit.fontawesome.com/921758977c.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <title>Social Media</title>
</head>
<body>
    <header id="common_header">
        <a href="/" id="common_header_index_page_link">Главная </a> 
        <a href="" id="common_header_profile_link"> Профиль </a> 
        <a href="" id="common_header_news_link"> Новости </a> 
        <a href="" id="common_header_friends_link"> Друзья </a> 
        <a href="/control_panel" id="common_header_control_panel_link"> Панель управления пользователями </a> 
    </header>

    <main id="friends_main">
        <div id="friends_content_wrapper">
            <section id="friends_content_header">
                <h2> Друзья пользователя</h2>
                <div>
                    <input type="text" placeholder="Введите имя или id" />
                    <button type="button" class="btn btn-primary">Добавить друга</button>
                </div>
            </section>

            <section id="friends_requests_section">
                <div id="friends_requests_header">
                    <h5> Заявки в друзья: </h3>
                </div>

                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">Имя</th>
                            <th scope="col">Дата Рождения</th>
                            <th scope="col">Роль</th>
                            <th scope="col">Статус</th>
                            <th scope="col">Электронная почта</th>
                            <th scope="col">Кнопки взаимодействия</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th class="table_user_name" scope="row">
                                <a href="/profile/" class="control_panel_username">
                                    Асташёнок Михаил Сергеевич
                                </a>
                            </th>
                            <td class="table_user_birth_date" scope="">19/11/2002</td>
                            <td class="table_user_role" scope="">Администратор</td>
                            <td class="table_user_access_status" scope="">Подтвержден</td>
                            <td class="table_user_email" scope="">thenaitrise@gmail.com</td>
                            <td class="table_user_interaction_buttons" scope="">
                                <a href="/profile/">
                                    <button type="button" class="btn btn-primary user_interaction_btn">
                                        <i class="fa-solid fa-circle-info"></i>
                                    </button>
                                </a>
                                <button type="button" class="btn btn btn-success user_interaction_btn approve_btn" id="confirmUser#">
                                    <i class="fa-sharp fa-solid fa-check"></i>
                                </button>
                                <button type="button" class="btn btn-danger user_interaction_btn refusal_btn" id="banUser#">
                                    <i class="fa-solid fa-circle-xmark"></i>
                                </button>
                            </td>
                        </tr>
                        <tr>
                            <th class="table_user_name" scope="row">
                                <a href="/profile/" class="control_panel_username">
                                    Асташёнок Михаил Сергеевич
                                </a>
                            </th>
                            <td class="table_user_birth_date" scope="">19/11/2002</td>
                            <td class="table_user_role" scope="">Администратор</td>
                            <td class="table_user_access_status" scope="">Подтвержден</td>
                            <td class="table_user_email" scope="">thenaitrise@gmail.com</td>
                            <td class="table_user_interaction_buttons" scope="">
                                <a href="/profile/">
                                    <button type="button" class="btn btn-primary user_interaction_btn">
                                        <i class="fa-solid fa-circle-info"></i>
                                    </button>
                                </a>
                                <button type="button" class="btn btn btn-success user_interaction_btn approve_btn" id="confirmUser#">
                                    <i class="fa-sharp fa-solid fa-check"></i>
                                </button>
                                <button type="button" class="btn btn-danger user_interaction_btn refusal_btn" id="banUser#">
                                    <i class="fa-solid fa-circle-xmark"></i>
                                </button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </section>

            <section id="friends_list_section">
                <div id="friends_list_header">
                    <h5> Список друзей: </h3>
                </div>

                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">Имя</th>
                            <th scope="col">Дата Рождения</th>
                            <th scope="col">Роль</th>
                            <th scope="col">Статус</th>
                            <th scope="col">Электронная почта</th>
                            <th scope="col">Кнопки взаимодействия</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th class="table_user_name" scope="row">
                                <a href="/profile/" class="control_panel_username">
                                    Асташёнок Михаил Сергеевич
                                </a>
                            </th>
                            <td class="table_user_birth_date" scope="">19/11/2002</td>
                            <td class="table_user_role" scope="">Администратор</td>
                            <td class="table_user_access_status" scope="">Подтвержден</td>
                            <td class="table_user_email" scope="">thenaitrise@gmail.com</td>
                            <td class="table_user_interaction_buttons" scope="">
                                
                                <a href="/profile/">
                                    <button type="button" class="btn btn-primary user_interaction_btn">
                                        <i class="fa-solid fa-circle-info"></i>
                                    </button>
                                </a>
                                
                                <button type="button" class="btn btn-danger user_interaction_btn remove_friend_btn" id="banUser#">
                                    <i class="fa-solid fa-user-minus"></i>
                                </button>
                            </td>
                        </tr>
                        <tr>
                            <th class="table_user_name" scope="row">
                                <a href="/profile/" class="control_panel_username">
                                    Асташёнок Михаил Сергеевич
                                </a>
                            </th>
                            <td class="table_user_birth_date" scope="">19/11/2002</td>
                            <td class="table_user_role" scope="">Администратор</td>
                            <td class="table_user_access_status" scope="">Подтвержден</td>
                            <td class="table_user_email" scope="">thenaitrise@gmail.com</td>
                            <td class="table_user_interaction_buttons" scope="">
                                
                                <a href="/profile/">
                                    <button type="button" class="btn btn-primary user_interaction_btn">
                                        <i class="fa-solid fa-circle-info"></i>
                                    </button>
                                </a>
                                
                                <button type="button" class="btn btn-danger user_interaction_btn remove_friend_btn" id="banUser#">
                                    <i class="fa-solid fa-user-minus"></i>
                                </button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </section>
        </div>
    </main>

</body>
</html>