<main id="create_news_main">
    <div id="create_news_content_wrapper">
        <section id="create_news_content_header">
            <h2>Редактор создания новости</h2>
            <div>
                <button type="button" class="btn btn-success" (click)="create_post()">Создать новость</button>
                <button type="button" class="btn btn-danger" (click)="return_to_news()">Отмена</button>
            </div>
        </section>
        
        <section id="create_news_area">
            <p>Текст сообщения:</p>
            <textarea name="" id="" cols="30" rows="15" #createPostText></textarea>
        </section>
    </div>
</main>
