<header id="common_header">
    <a href="/" id="common_header_index_page_link">Главная </a> 
    <a href="" id="common_header_profile_link"> Профиль </a> 
    <a href="" id="common_header_news_link"> Новости </a> 
    <a href="" id="common_header_friends_link"> Друзья </a> 
    <a href="/control_panel" id="common_header_control_panel_link"> Панель управления пользователями </a> 
</header>

<main id="create_news_main">
    <div id="create_news_content_wrapper">
        <section id="create_news_content_header">
            <h2>Редактор создания новости</h2>
            <div>
                <button type="button" class="btn btn-success">Создать новость</button>
                <button type="button" class="btn btn-danger">Отмена</button>
            </div>
        </section>
        
        <section id="create_news_area">
            <p>Текст сообщения:</p>
            <textarea name="" id="" cols="30" rows="15"></textarea>
            <p class="sup_prompt">*для того, чтобы сделать текст жирным или задать курсив, можно применить соответствующие html-элементы.</p>
        </section>
    </div>
</main>
