<main id="edit_profile_main">
    <div id="edit_profile_content_wrapper">
        <section id="edit_profile_content_header">
            <h2> Редактирование данных пользователя </h2>
            <div id="edit_profile_content_header_buttons">
                <button (click)="update_data()" type="button" data-title="Сохранить" class="btn btn-success save_btn header-btn" id="profile_save_edit#${user.id}">
                    Сохранить
                </button>
            </div>
        </section>
                
        <section id="edit_profile_card">
            <div id="edit_profile_img_section">
                <img src={{profile.img}} alt="" id="edit_profile_img">
                <div id="edit_profile_img_control">
                    <input type="text" placeholder="Enter image URL" class="btn btn-primary" #load_image_input> 
                    <!-- <button type="button" class="btn btn-primary" id="load_image"> 
                        Загрузить фото 
                    </button> 
                    <button type="button" class="btn btn-danger" id="delete_image">
                        Удалить фото 
                    </button>  -->
                </div>
            </div>
                    
            <div id="profile_edit_info">
                <div class="profile_edit_info_column">
                    <div class="form-group">
                        <label for="InputUsername"> Имя пользователя </label>
                        <input type="text" value={{profile.name}} class="form-control" #InputUsername placeholder="Введите имя">
                    </div>
                    <div class="form-group">
                        <label for="InputBirthdate"> Дата рождения </label>
                        <input type="date" value={{profile.birth}} class="form-control" #InputBirthdate placeholder="Enter email">
                    </div>
                    <div class="form-group">
                        <label for="InputRole"> Роль </label>
                        <select disabled value={{profile.role}} class="form-control" id="InputRole">
                            <option value="admin" selected="(user.role == 'admin')"> Администратор </option>
                            <option value="user" selected="(user.role == 'user')"> Пользователь </option>
                            <option value="guest" selected="(user.role == 'guest')"> Гость </option>
                        </select>
                    </div>
                </div>
                        
                <div class="profile_edit_info_column">
                    <div class="form-group">
                        <label for="InputEmail"> Электронная почта </label>
                        <input type="email" value={{profile.email}} class="form-control" #InputEmail placeholder="Введите электронную почту">
                    </div>
                    <div class="form-group">   
                        <label for="InputStatus"> Статус </label>
                        <select disabled class="form-control" id="InputStatus" value={{profile.status}}>
                            <option value="confirmed" selected="(user.status == 'confirmed')"> Подтвержден </option>
                            <option value="unconfirmed" selected="(user.status == 'unconfirmed')"> Не подтвержден </option>
                            <option value="banned" selected="(user.status == 'banned')"> Заблокирован </option>
                        </select>
                    </div> 
                    <div class="form-group">
                        <label for="InputId"> Идентификатор пользователя </label>
                        <input disabled type="text" value={{profile.id}} class="form-control" id="InputId" placeholder="Enter email">
                    </div>
                </div>
            </div>
        </section>
    </div>
</main>