* {
    padding: 0;
    margin: 0;

    font-family: sans-serif;
}

body {
    min-height: 100vh;
    position: relative;
    background-color: #fff;

    display: flex;
    flex-direction: column;
    align-items: center;
}

#details_screen_headline {
    color: #3498db;
    margin: 30px 0;
}

#details_screen_headline i {
    margin-left: 15px;
}

#details_screen_headline:hover {
    cursor: pointer;
}

#details_headline {
    color: #3498db;
    margin-bottom: 30px;
}

#details_section {
    display: flex;
    justify-content: space-between;
    width: 60%; 
    background-color: #ecf0f1;
    padding: 20px;
    border-radius: 5px;
    overflow: hidden;
    margin-bottom: 20px;
}

#details_section img {
    width: 300px;
    height: 400px;
    margin-right: 20px;
}

#details_text_section {
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

#details_text_section div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #3498db;
    padding: 25px 0;
}

#details_text_section div:last-child {
    border-bottom: none;
}

#details_control_section {
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

#details_control_section button {
    border: none;
    outline: none;
    background: none;

    background-color: #ecf0f1;
    color:#3498db;
    font-weight: 700;
    font-size: 18px;
    padding: 10px;
    margin: 10px;   
    border-radius: 5px;
}   

#details_control_section button:hover {
    transition: .2s;
    box-shadow: 0px 2px 4px 3px rgba(34, 60, 80, 0.2);
    cursor: pointer;
}

#details_text_section input {
    width: 450px;
    border: none;
    outline: none;
    background: none;

    font-size: 20px;
    padding: 5px;
    background-color: #fff;
    border-radius: 10px;
}

#details_book_description_textarea {
    width: 450px;
    height: 500px;
    padding: 5px;

    outline: none;
    border: none;
    background:none;
    border: 1px solid #3498db;
    background-color: #f6f9fa;
}

#details_book_description_paragraph {
    width: 450px;
    padding: 5px;

    outline: none;
    border: none;
    background:none;
}




@media screen and (max-width: 320px) {
    #main_screen_headline {
        text-align: center;
        font-size: 16px;
    }

    #details_section {
        width: 80%;
    }

    #details_section img {
        width: 150px;
        height: 250px;
    }

    #details_text_section {
        font-size: 10px;
    }

    #details_text_section input {
        width: 150px;
        font-size: 10px;
        border-radius: 0;
    }

    #details_text_section textarea {
        width: 150px;
        font-size: 10px;
    }

    #details_control_section {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    #details_control_section button {
        width: 80%;
        font-size: 14px;
    }
}