doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible" content="IE=edge")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet" href="../styles/add_book.css")
        script(src="https://kit.fontawesome.com/cb7794a450.js" crossorigin="anonymous")
        title Library 
    body 
        h1(id="add_book_screen_headline") Домашняя библиотека
            i(class="fa-solid fa-book")
        h2(id="add_headline") Добавление новой книги
        
        section(id="add_section")
            div(id="add_text_section")
                div 
                    p Название:
                    input(type="text" id="add_book_name" placeholder="Название книги")
                
                div 
                    p Автор:
                    input(type="text" id="add_book_author" placeholder="Автор книги")

                div 
                    p Дата издания (День/Месяц/Год):
                    input(type="date" id="add_book_release" placeholder="Дата выпуска (только дата)")
                
                div 
                    p Описание:
                    textarea(id="add_book_description")

                div 
                    p Ссылка на изображение книги:
                    input(type="text" id="add_book_img_url" placeholder="Ссылка на изображение книги")
        
        section(id="add_control_section")
            button(id="add_save_book") Сохранить данные о книге
        
        script(src="../scripts/add_book.js" type="module")
        script(src="../scripts/client.js" type="module") 