<main id="index_main">
    <div id="index_content_wrapper">
        <h1> Добро пожаловать на сайт </h1>
        <p> Для демонстрации лабораторной работы №4 зарегистрируйтесь в социальной сети или авторизуйтесь со своего аккаунта</p>
        <section id="index_auth_buttons">
            <a routerLink="/registration" id="common_header_login_page_link">
                <button type="button" class="btn btn-primary"> Регистрация </button>
            </a>
            <a routerLink="/login" id="common_header_login_page_link">
                <button type="button" class="btn btn-primary"> Авторизация </button>
            </a>
        </section>
    </div>
</main>