doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible" content="IE=edge")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet/less" type="text/css" href="../stylesheets/not_found.less")
        script(src="https://cdn.jsdelivr.net/npm/less")
        script(src="https://kit.fontawesome.com/cb7794a450.js" crossorigin="anonymous")
        link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous")
        script(src="../scripts/jquery.js" type="module")
        title Social Media 

    body 

        header(id="common_header")
            a(href="http://localhost:4200" id="common_header_index_page_link") Главная
            a(href="/profile/squirtleID001" id="common_header_profile_link") Профиль
            a(href="http://localhost:4200/news" id="common_header_news_link") Новости
            a(href="http://localhost:4200/friends" id="common_header_friends_link") Друзья
            a(href="/control_panel" id="common_header_control_panel_link") Панель управления пользователями

        main(id="not_found_main")
            div(id="not_found_content_wrapper")
                h1 Ошибка 404: страница не найдена.
                p Попробуйте перепроверить введенную в поисковую строку ссылку для поиска требуемой страницы.

        script(src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous")
        script(src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous")
        script(src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous")