<header id="common_header">
    <a href="/" id="common_header_index_page_link">Главная </a> 
    <a href="" id="common_header_login_link"> Авторизация </a> 
</header>

<main id="registration_main">
<div id="registration_content_wrapper">
    <section id="registration_content_header">
        <h2> Регистрация нового пользователя</h2>
    </section>

    <section id="registration_content_form">
        <label for="registrationName">Имя:</label>
        <input type="text" id="registrationName"/>
        <label for="registrationBirthdate">Дата рождения:</label>
        <input type="date" id="registrationBirthdate"/>
        <label for="registrationEmail">Электронная почта:</label>
        <input type="email" id="registrationEmail"/>
        <label for="registrationPassword">Пароль</label>
        <input type="password" id="registrationPassword"/>
        
        <button type="button" class="btn btn-primary" id="registrationButton">Зарегистрироваться</button>
    </section>
</div>
</main>
