<main id="registration_main">
<div id="registration_content_wrapper">
    <section id="registration_content_header">
        <h2> Регистрация нового пользователя</h2>
    </section>

    <section id="registration_content_form">
        <label for="registrationName">Имя:</label>
        <input type="text" #registrationName/>
        <label for="registrationBirthdate">Дата рождения:</label>
        <input type="date" #registrationBirthdate/>
        <label for="registrationEmail">Электронная почта:</label>
        <input type="email" #registrationEmail/>
        <label for="registrationPassword">Пароль</label>
        <input type="password" #registrationPassword/>
        
        <button type="button" class="btn btn-primary" #registrationButton (click)="registerUser()">Зарегистрироваться</button>
    </section>
</div>
</main>
