<main id="friends_main">
    <div id="friends_content_wrapper">
        <section id="friends_content_header">
            <h2> Друзья пользователя</h2>
            <div>
                <input type="text" placeholder="Введите id" />
                <button type="button" class="btn btn-primary">Добавить друга</button>
            </div>
        </section>

        <section id="friends_list_section">
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">Имя</th>
                        <th scope="col">Дата рождения</th>
                        <th scope="col">Роль</th>
                        <th scope="col">Статус</th>
                        <th scope="col">Электронная почта</th>
                        <th scope="col">Кнопки взаимодействия</th>
                    </tr>
                </thead>
                <friends-component 
                    *ngFor="let friend of friends" 
                    [user]="friend"
                ></friends-component>
            </table>
        </section>
    </div>
</main>
