<div class="news_post">
    <img src="{{current_post.user_img}}" alt="" class="news_post_img">
    <div class="news_post_text_section">
        <div class="news_post_header">
            <a href="/profile/{{current_post.user_id}}" class="news_post_username">
                {{current_post.user_name}}
            </a>
            <div class="news_post_control">
                <p> {{current_post.date}} </p>
                <button 
                    type="button" 
                    class="btn btn-danger delete_post_btn" 
                    id='deletePost'
                    (click)="remove_post()"
                    *ngIf="user_id == current_post.user_id"
                    > Удалить
                </button>
            </div>
        </div>
        <p class="news_post_text"> {{current_post.text}} </p>
    </div>
</div>
